{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Phone</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ entity.mobile }}</td>
            </tr>
            <tr>
                <th>Homephone</th>
                <td>{{ entity.homePhone }}</td>
            </tr>
            <tr>
                <th>Officephone</th>
                <td>{{ entity.officePhone }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('phone') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('phone_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
